<div class="navbar-wagon">

  <!-- Left Navigation -->
  <div class="navbar-wagon-left">
    <p id= "text-logo">The Cocktail House</p>
    <%= image_tag "cocktail-logo.png", alt: "logo", width: 35 %>
  </div>

  <div class="navbar-wagon-brand">

  </div>
</div>

