/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-image: linear-gradient(to bottom right, #d5eeff, #fbafaf);
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* Right section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  #text-logo {
    color: #f12b6b;
    margin: 0px;
    font-family: 'Pacifico', cursive;
  }
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

